[Unit]
Description=Attach Zigbee (ConBee II) via USB/IP from {{ remote_ip }}
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/usbip-attach-zigbee.sh
