---
- name: Install UFW
  apt:
    name: ufw
    state: present

- name: Allow Proxmox and SSH ports through UFW
  community.general.ufw:
    rule: allow
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
    comment: "{{ item.comment }}"
  loop:
    - { port: '22', proto: 'tcp', comment: 'SSH' }
    - { port: '8006', proto: 'tcp', comment: 'Proxmox Web Interface' }
    - { port: '5900:5999', proto: 'tcp', comment: 'VNC/SPICE console ports' }
    - { port: '5405:5412', proto: 'udp', comment: 'Proxmox cluster communication (corosync)' }
    - { port: '60000:60050', proto: 'tcp', comment: 'Proxmox live migration' }
    - { port: '8007', proto: 'tcp', comment: 'Proxmox Backup Server' }
  become: yes

- name: Enable UFW
  ufw:
    state: enabled
